header{
    margin: auto;
    max-width: 500px;
}
h1{
    color: palevioletred;
    text-align: center;

}

p{
    text-align: center;
}
h2{
    color: purple;
    text-align: center;
}
h4{
    color: yellowgreen;
    text-align: center;
}       
div{
   text-align: center;
}
ul{
    display: inline-block;
    text-align: left;
}
.picture{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: auto;
}
